div.success{
    background-color: rgb(212,237,218);
    text-align: center;
    color: rgb(21,87,36);
    border-radius: 0.25rem;
    width: 60%;
}
div.error{
    background-color: rgb(245, 215, 218);
    text-align: center;
    color: rgb(114, 28, 36);
    border-radius: 0.25rem;
    width: 60%;
}
.error.add,.success.add{
    position: absolute;
    top: 500px;
}