.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0 5%;
    overflow: hidden;
    background: rgb(100, 50, 10);
    font-size: 1.2rem;
    font-weight: bold;
}
.navbar li {
    float: left;
    width: 150px;
}
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem 0.5rem;
    text-decoration: none;
}
.navbar li a:hover:not(.active) {
    background-color: rgb(120, 70, 30);
}
.navbar .active {
    background-color: rgb(255, 215, 142);
    color: black;
}
.navbar .search {
    width: 200px;
}
.navbar input[type=text] {
    width: 170px;
    padding: 0.2rem;
    margin: 1rem 0;
    font-size: 1.2rem;
    border: none;
}
.navbar button {
    width: 30px;
    padding: 0.2rem;
    margin: 1rem -0.5rem;
    background: lightgrey;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
.navbar button:hover {
    background: lightslategrey;
}
.content {
    padding: 0 5%;
}
.content a {
    text-decoration: none;
    color: black;   
}