.image {
    width: 220px;
    padding: 0.5rem;
}
.image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.info {
    position: absolute;
    width: calc(90% - 220px);
    left: calc(5% + 220px);
    padding: 0.5rem;
    font-size: 1.2rem;
}
.info table {
    border-collapse: collapse;
    width: 100%;
}
.info td, .info th {
    vertical-align: top;
}
.info th {
    width: 135px;
}
.info h3 {
    padding: 0;
    margin: 0 0 0.5rem;
    line-height: 1rem;
}
.content button {
    position: relative;
    top: 75px;
    margin: 0.5rem;
}
.buy, .addStock {
    position: relative;
    left: calc(95% - 300px);
}
.cancel {
    position: relative;
    left: calc(95% - 300px);
}
label {
    font-size: 1rem;
    font-weight: bold;
}
i:hover {
    cursor: pointer;
    font-size: 1.2rem;
}
#amountLabel {
    position: absolute;
    left: 0.5rem;
    bottom: -1.5rem;
}
input[type=number] {
    position: absolute;
    width: 250px;
    left: 0.5rem;
    bottom: -3.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid rgb(100, 50, 10);
    border-radius: 0.25rem;
}
.fa-minus-circle {
    position: absolute;
    left: 1rem;
    bottom: -3rem;
}
.fa-plus-circle {
    position: absolute;
    left: calc(250px - 1.25rem);
    bottom: -3rem;
}
#priceLabel {
    position: absolute;
    left: 300px;
    bottom: -1.5rem;
}
#price {
    position: absolute;
    left: 300px;
    bottom: -3rem;
}
#addressLabel {
    position: relative;
    top: 1.5rem;
}
textarea {
    position: relative;
    top: 1.5rem;
    width: 100%;
    padding: 0.25rem;
    font-size: 0.9rem;
    font-family: inherit;
    border: 1px solid rgb(100, 50, 10);
    border-radius: 0.25rem;
}

@media (max-width: 800px) {
    .detail {
        flex-direction: column;
    }
    .info {
        position: relative;
        left: 0;
        width: 100%;
        padding: 0;
    }
    .image img {
        width: 150px;
        height: 150px;
    }
    .content button {
        top: 0;
    }
    #amountLabel, input[type=number], #priceLabel, #price, .fa-minus-circle, .fa-plus-circle {
        position: relative;
        top: 1rem;
    }
    #amountLabel, input[type=number], #priceLabel, #price {
        left: 0;
    }
    .fa-minus-circle {
        left: calc(-250px - 1.25rem);
    }
    .fa-plus-circle {
        left: -2.15rem;
    }
    #addressLabel, textarea {
        top: 0;
        margin-top: 12px;
    }
    .address {
        margin-top: 20px;
    }
}