.image {
    width: 220px;
    padding: 0.5rem;
}
.image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background: rgb(255, 215, 140);
    border: 2px solid rgb(100, 50, 10);
}
.info {
    position: absolute;
    width: calc(90% - 220px);
    left: calc(5% + 220px);
    padding: 0.5rem;
    font-size: 1.2rem;
}
.info table {
    border-collapse: collapse;
    width: 100%;
}
.info td, .info th {
    vertical-align: top;
}
.info th {
    width: 135px;
}
.info h3 {
    padding: 0;
    margin: 0 0 0.5rem;
    line-height: 1rem;
}
.content button {
    position: relative;
}
.buynow, .addStock {
    position: relative;
    left: calc(100% - 300px);
    top: 200px;
}
.buy, .add {
    position: relative;
    left: calc(100% - 150px);
    top: 89px;
}
.cancel {
    position: relative;
    top: 50px;
    left: calc(95% - 300px);
}
.back {
    position: relative;
    top: 200px;
    left: -220px;
}
label {
    font-size: 1rem;
    font-weight: bold;
}
i:hover {
    cursor: pointer;
    font-size: 1.2rem;
}
#amountLabel {
    position: relative;
    left: 0;
    bottom: -0.5rem;
}
input[type=number] {
    position: relative;
    width: 250px;
    left: -135px;
    bottom: -2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: inherit;
    border: 1px solid rgb(100, 50, 10);
    border-radius: 0.25rem;
}
.fa-minus-circle {
    position: relative;
    left: -410px;
    bottom: -2.5rem;
}
.fa-plus-circle {
    position: relative;
    left: -165px;
    bottom: -2.5rem;
}
#priceLabel {
    position: relative;
    left: 300px;
    bottom: 1.5rem;
}
#price {
    position: relative;
    left: 250px;
    bottom: -0.5rem;
}
#addressLabel {
    position: relative;
    top: 4rem;
    left: -220px;
}
textarea {
    position: relative;
    top: 4rem;
    left: -220px;
    margin-right: -220px;
    width: calc(100% + 220px);
    padding: 0.25rem;
    font-size: 0.9rem;
    font-family: inherit;
    border: 1px solid rgb(100, 50, 10);
    border-radius: 0.25rem;
}

@media (max-width: 800px) {
    .detail {
        flex-direction: column;
    }
    .info {
        position: relative;
        left: 0;
        width: 100%;
        padding: 0;
    }
    .image img {
        width: 150px;
        height: 150px;
    }
    .content button {
        position: relative;
    }
    .back {
        left:0;
    }
    .back, .buynow, .addStock {
        top: 2rem;
    }
    .cancel {
        top: -60px;  
    }
    .buy, .add {
        top: 54px;
        margin-bottom: 75px;
    }
    #amountLabel, input[type=number], .fa-minus-circle, .fa-plus-circle {
        position: relative;
        top: 1rem;
    }
    #amountLabel, input[type=number], #priceLabel, #price {
        left: 0;
    }
    #priceLabel, #price {
        top: 1.5rem;
    }
    .fa-minus-circle {
        left: calc(-250px - 1.25rem);
    }
    .fa-plus-circle {
        left: -2.15rem;
    }
    #addressLabel, textarea {
        top: 1.5rem;
        left: 0;
    }
    textarea {
        width: 100%;
        margin-right: 0;
    }
}