body { 
    background: url("../img/background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.form {
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.5rem;
    background: rgb(255, 215, 140);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.banner {
    flex-basis: 20%;
    background: rgb(100, 50, 10);
    color: white;
    padding: 0.5rem;
}
.banner h1 {
    font-size: 1.5rem;
}
.field {
    margin: 2rem 2rem 1rem;
    justify-content: center;
}
.field h4 {
    color: grey;
    font-weight: medium;
}
.field h4 a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.field h4 a:hover {
    color: rgb(40, 40, 40);
    text-decoration: underline;
    transition: 0.25s;
}
i {
    font-size: 1.15rem;
    position: relative;
    bottom: 1.5rem;
    color: grey;
    transition: 0.5s;
}
#showPassw, #hidePassw, #show, #hide  {
    left: 230px;
}
#showCPass, #hideCPass {
    left: 160px;
}
input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid grey;
    background: rgb(255, 215, 140);
    font-size: 1.15rem;
}
input[type="submit"] {
    height: 2.5rem;
    background: rgb(100, 50, 10);
    color: white;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
}
input[type="submit"]:hover {
    background: rgb(120, 70, 30);
}
input:focus~label, input:valid~label {
    top: -3rem;
    left: 0;
    color: black;
    font-size: 1rem;
    font-weight: bold;
}
label {
    position: relative;
    top: -1.5rem;
    left: 0; 
    color: grey;
    transition: 0.5s;
    pointer-events: none;
}

@media (max-width: 800px) {
    .form {
        width: 250px;
    }
    #showPassw, #hidePassw, #show, #hide  {
        left: 80px;
    }
    #showCPass, #hideCPass {
        left: 10px;
    }
}